.container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}


.error {
    color: red;
}